.header-admin {
  z-index: 69;
  width: 100%;
  position: fixed;
  height: 50px;
  line-height: 50px;
  max-height: 100px;
  padding: 0;

  .ant-layout-header {
    height: 100%;
    line-height: 100% !important;
    padding: 0 30px;
    background: #0080ff;
    box-shadow: 2px 0 5px rgba(0, 21, 41, 0.15);

    .ant-row {
      height: 100% !important;

      .menu-left {
        float: left;
        height: 100%;

        .logo-box {
          height: 100%;
          float: left;
          text-align: left;

          .logo {
            height: 100%;
            display: block;
            margin: 0 auto;
            // margin-left: auto;
            // margin-right: auto;
          }
        }
      }

      .menu-right {
        float: right;
        text-align: right;
        height: 100%;

        .ant-menu {
          background: #0080ff !important;
          color: white !important;
        }

        .ant-menu-horizontal {
          line-height: 49px !important;

          .ant-menu-submenu-title {
            padding: 0 15px !important;
          }
        }
      }
    }
  }
}

.side-admin {
  left: 0;
  padding-top: 50px;
  // height: '100vh';
  // overflow: 'auto';
  // position: 'fixed';
  background: white !important;

  .ant-menu-inline {
    border-right: 0 !important;
  }
}

.container-admin {
  height: 100vh;
  padding: 0 24px;
  margin-top: 50px;

  .ant-breadcrumb {
    line-height: 45px !important;
  }

  .content-admin {
    overflow: initial;
  }
}

.form-item-upload {
  margin-bottom: 0 !important;
}

.ant-upload-list {
  max-height: 250px;
  overflow-y: auto;
  // border-style: groove;
  // border-width: 1px;
}

.ant-upload-select-picture-card  {
  width: 164px !important;
  height: 164px !important;
}
