@import url('http://fonts.googleapis.com/css?family=Roboto:400, 300, 400italic, 500, 700, 100');
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400, 800, 300, 600, 700');
@import url('http://fonts.googleapis.com/css?family=Abel');

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
}

.default-layout {
  margin-top: 0;
}

.margin-buttons {
  margin-left: 5px;
}

.red-color {
  color: red !important;
}

.page404 {
  height: 500px;
  line-height: 500px;
  text-align: center;
  position: relative;
  img {
    top: 50%;
    left: 50%;
    margin: 0;
    height: 450px;
    position: absolute;
    transform: translate(-50%, -50%);
  }
}

.footer {
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: #e6e5e4;

  .text-footer {
    font-size: small;
    color: gray;
  }
}
