.login-background {
  height: 100vh !important;
  background: rgb(228, 227, 240);
  background: -moz-linear-gradient(146deg, rgba(228, 227, 240, 1) 0%, rgba(176, 176, 236, 1) 35%, rgba(46, 201, 232, 1) 100%);
  background: -webkit-linear-gradient(146deg, rgba(228, 227, 240, 1) 0%, rgba(176, 176, 236, 1) 35%, rgba(46, 201, 232, 1) 100%);
  background: linear-gradient(146deg, rgba(228, 227, 240, 1) 0%, rgba(176, 176, 236, 1) 35%, rgba(46, 201, 232, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e4e3f0",endColorstr="#2ec9e8",GradientType=1);
}

.login {
  margin-top: 10%;
}

.login .login-card {
  max-width: 350px;
  box-shadow: 2px 0 5px rgba(0, 21, 41, 0.15);

  .ant-card-head {
    text-align: center;
  }
}

.login-card .login-form-button {
  width: 100%;
}
